body{
    margin: 0;
    background-color: #f4f4f4;
font-family: Georgia, 'Times New Roman', Times, serif;
}

/*navigation*/
li, a, button{
 font: 20px;
 color: aliceblue;
 text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 10%;
    background-color: #76c7c1;
}

.logo{
    cursor: pointer;
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
color: white;
background-color: rgb(234,102,84);
padding: 20%;
border-radius: 10%;

}


/*Header Carousel*/

.carousel{
width: 100vw;
height: 70vh;
position: relative;
}

.carousel > ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide{
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button{
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
  font-size: 3rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, .5);
  cursor: pointer;
  border-radius: .25rem;
  padding: 0 .5rem;
  background-color: rgb(234,102,84);
}

.carousel-button:hover, 
.carousel-button:focus{
    color: white;
    background-color: rgb(234,102,84, .5);
}

.carousel-button.prev{
    left: 1rem;
}

.carousel-button.next{
   right: 1rem;
}

/*Top Services*/
.container{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

#service{
background-color: rgb(236,236,236);
 margin: 5rem;
}

.ts{
    padding: 1rem;
    color: rgb(56, 56, 56);
}

#viewmore{
    background-color: rgb(233,102,90);
    border: none;
    cursor: pointer;
    border-radius: .25rem;
    font-size: 2rem;
}

#viewmore:hover{
    background-color: rgb(233,102,90, 0.5);
}

/*4 bokse*/
.container2{
    display: flex;
    margin: 4%;
    justify-content: space-between;
}

.box, .box2, .box3, .box4{
 background-color: white;
 padding: 3rem;
 margin: 1rem;
 text-align: center;
}

.readmore{
    background-color: rgb(117,199,193);
    border: none;
    cursor: pointer;
    border-radius: .25rem;
    font-size: 1.3rem;
}

.readmore:hover{
    background-color:  rgb(233,102,90);
}


/*Why modus versus?*/
.versus{
    text-align: center;
}

#modus{
    color:  rgb(233,102,90);
font-size: xx-large;
}


